.HomeCard {
  min-width: 300px;

  height: 170px;
  margin: 15px;
  //overflow-y: auto;
}

.HomeCard__title {
  background-color: #5bc3c3;
  border-radius: 5px;
  color: aliceblue;
}

.HomeCard-list {
  overflow-y: auto;
}

.HomeCard-list__item {
  height: 40px;
}
