.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}


.users-control {
  height: 100%;
  margin: 0 0 10px 10px;
  min-width: 320px;
  background-color: #F2F2FA;
  text-align: center;
  border-radius: 10px;

  &_input {
    color: #496a73;
    width: 100%;
  }

  &_select {
    color: #496a73;
    outline-color: #939aa9;
  }

  &_label {
    color: #496a73;
    font-weight: bold;
  }

  &_advice {
    color: #496a73;
    font-size: 0.6rem;
  }
}

.users-control_load {
  color: #f3f4fa;
  font-weight: bold;
  background-color: #4db6ac;

  &:hover {
    box-shadow: 0 0 10px #66666c;
    color: #f3f4fa;
  }

  &:active {
    background: #578989;
  }
}

.student {
  justify-content: left;
  margin: 10px;
}

.IU {
  font-weight: bolder;
  color: #3c545a;
}

div.users-control_block {
  margin: 0 auto;
  max-width: 220px;
}

.icon-reload:hover {
  color: #cbcbcb;
}