@import "src/App/App";

.DAndD {
  min-width: 320px;
  &-container {
    border-radius: 15px;
    margin-bottom: 1rem;
    &__header {
      border-radius: 10px 10px 0 0;
      background-color: #bbe8e1;
      font-weight: bold;
      &__text {
        color: grey;
        margin-left: 5px;
        &_white {
          color: white;
          margin-left: 5px;
        }
      }
    }
    &__item {
      border-radius: 5px;
      margin: 5px;
    }
  }

  &-items__column {
    max-height: 120px;
    max-width: 330px;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #efefef;
    border-radius: 10px;
    margin-top: 3px;
    &__dragged {
      max-height: 120px;
      max-width: 330px;
      min-width: 140px;
      border: 1px dotted black;
      border-radius: 10px;
      background-color: transparent;
    }
    &__drop {
      color: grey;
      &:hover {
        color: #35b8b8;
      }
    }
  }
}

.icon-remover:hover {
  color: red;
}
