@import "../../styles/main";

input.btn-mdb-input {
  width: 100%;
  max-width: 70px;
  height: 30px;
  min-height: 30px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  color: #6c6c6c;
  font-size: 0.9rem;
  outline: none;

  &:focus {
    border-color: #4db6ac;
  }
  &::placeholder {
    font-size: 0.9rem;
    @media screen and (max-width: #{$little-screen-min}) {
      font-size: 0.7rem;
    }
    color: #bbbbbb;
  }
}

span.collapse-text {
  font-size: 0.8rem;
  color: #535050;
}

